.section--examples-padding {
  padding-top: 0;
}

.examples {
  display: flex;
  justify-content: space-between;
}
.examples__item {
  position: relative;
}
.examples__text {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 370px;
  height: 70px;
  margin: 0;
  padding: 27px 0;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  background-color: $examples-bg-text;
  color: $white-color;
}
