.features {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}

.features__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    margin: 0;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.features__icon {
  padding: 25px 0;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;

  background-color: $bgc-team;

  @media screen and (min-width: 768px) {
    padding: 25px 142px;
  }
  @media screen and (min-width: 1200px) {
    padding: 25px 100px;
  }
}
.features__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  color: $secondary-text-color;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}
.features__text {
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}
