$main-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$black-color: #000000;
$bgc-team: #f5f4fa;
$bgc-hero: #2f303a;
$footer-link-color: #ffffff99;
$icon-color: #afb1b8;
$hero-bg-color: #c4c4c4;
$hero-btn-accent: #188ce8;
$examples-bg-text: #2f303acc;
$bg-icon-footer: #ffffff1a;
$footer-border-form: #ffffff4d;
$tumb-overlay: #2196f3e6;
$border-cards: #eeeeee;
$backdrop-bg: #00000033;
$border-modal-btn: #0000001a;
$modal-form-border: #21212133;
$modal-form-area: #75757580;
